/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  width: 700px;
  height: 700px;
  display: block;
}

body {

  font-family: 'Share Tech Mono', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:url('../img/background.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
  
}



.info {
  display: flex;
  gap: 100px;
  
}

iframe {
  display: hidden;
}



.selectionAndExplanation {
  display: flex;
  flex-direction: column;
}

.selectionAndExplanation,
.image {
  
}



p, button {
  font-size: 18px;
  max-height: 300px;
}

h1,h2,p {
  color: white;
}

button {
  border-radius: 100px;
  border: none;
  padding: 10px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width:768px) {

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  gap: 100px;
  padding: 100px;
  }

  img{
    width: 275px;
    height: 275px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */


/* Medium devices (landscape tablets, 768px and up) */
@media (min-width:769px) and (max-width:1400px) {
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  gap: 100px;
  padding: 100px;
  }

  img{
    width: 400px;
    height: 400px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...}
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */ 